.check-window-back{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.check-window{
    background-color: #ABA9C3;
    border-radius: 2vw;
    padding: 2vw;
    width: 25vw;
    text-align: center;
}

.check-window h3{
    color: #CED3DC;
    font-size: 4vw;
}

.check-window p{
    color: #CED3DC;
    font-size: 3vw;
}