.compare-answers{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    gap:1vw;
}

.compare-answers-inline{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap:1vw;
}

.compare-answers-collage{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    color:#363a3f;
    gap:1vw;
}

.compare-selector-answers{
    display: flex;
    justify-content: center;
    gap: 1VW;
    align-items: baseline;
}


.compare-task{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
}

.compare-selector-answers
{
    display: inline-block;
    margin-top: 1vw;
    flex:1 0 33.333333%
}

.compare-selector-answers p{
    font-size: 1.8vw !important;
    color: #fff !important;
}

.compareinline-selector-answers{
    display: flex;
    align-items: center;
    min-width: 50vw;
    text-align: left;
    justify-content: center;
    flex: 1;

}

.compareinline-selector-answers .form-control{
    background-color: #FCF7F8;
    padding: 0.3vw;
    width: 100%;
    border-radius: 1vw;
    border-color: transparent;
    font-size: 1.15vw;
    transition: .3s;
    color:#363a3f;
    font-weight: 400;
    text-align: left;
}

.text-show ol{
    display: flex;
    flex-direction: column;
    gap:1vw;
}

.compare-task img{
    width: auto;
    margin-top: 1vw;
    max-width: 60vw;
    min-width: 20vw;
    align-self: center;
}

.compareinline-selector-answers p{
    font-size: 1.05vw;
    font-weight: 600;
    min-width: 12vw;
    text-align: left;
    color: #fff;
}

.collage-block p{
    font-size: 1.5vw !important;
    background-color: #fff;
    text-align: left;
    border-radius: 1vw;
    padding: 1vw;
    color: #5B616A;
}


.collage-answers .form-control{
    background-color: #FCF7F8;
    padding: 0.3vw;
    width: 100%;
    border-radius: 1vw;
    border-color: transparent;
    font-size: 1.5vw;
    transition: .3s;
    color:#363a3f;
    text-align: center;
    font-weight: 600;
  }

.collage-block{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    min-width: 25vw;
    padding: 1vw 0 0;
    flex:1 0 35.333333%;
    margin-bottom: 1vw;
    padding-bottom: 4vw;
    border-bottom: 0.2vw solid #275DAD;
}

.collage-text{
    display: flex;
    gap:1vw;
}

.collage-answers{
    display: flex;
    justify-content: space-evenly;
    gap:1vw;
}

.compare-task .text-container{
    margin-bottom: 2vh;
}

.compare-inline-block {
     display: flex;
     align-items: center;
     gap: 10px;
}
.compare-inline-block .diffinitions, .compare-inline-block .selectors {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.compare-inline-block .diffinitions p{
    height: 32px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
