.footer{
    margin-top: auto ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self:end;
    color: #275DAD;
  }
  
  .footer-top{
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw; 
    padding: 0.5vw 5.5vw;
    background-color: #8c94bc;
    display: flex;
    gap:1vw;
  }

  .footer-link{
    font-size: 1vw !important;
    color: white;
  }