.input-field{
    border-color: #275DAD;
    border-width: 0.1vw;
    background-color: transparent;
    color: #275DAD;
    outline: none!important;
    font-size: 1.5vw;
    height: 1.8vw;
    overflow: visible;
    padding: 0 .5ch;
}

.input-field-correct{
    border-color: green;
    border-width: 0.2vw;
}

.input-field-wrong{
    border-color: red;
    border-width: 0.2vw;
}