.text-title{
    align-self: center;
    color: #5B616A;
}

.flex-column .text-title-little{
    font-size: 1.55vw !important;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.bold-text{
    font-weight: 800;
}