.task{
    left: -15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1vw;
    width: 80vw;
    align-self: center;
  }

.task-type{
    width: 80vw;
    align-self: center;
    gap: 2vw;
    flex-direction: column;
    display: flex;
}

.task-title{
    font-size: 2.5vw;
    text-align: left;
    color: #FCF7F8;
    font-weight: 600;
}

.task-explanation p{
    border:3px solid #fff;
    padding: 1vw;
    color: #0033ab;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 1.8vw;
    text-align: left;
    margin-bottom: 2vw;
}