.text-container{
    margin-top: 1vw;
    font-size: 2vw;
    max-height: 45vh;
    text-align: left;
    line-height: 1.5vw;
    overflow: scroll;
    padding: 1vw 1vw;
    overflow-x: hidden;
    background-color: #fff;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    color: #5B616A;
}

.text-container h3{
    font-size: 1.8vw !important;
    font-weight: 800 !important;
}

.text-container p{
    font-size: 1.5vw;
}

.text-container::-webkit-scrollbar{
    width: 0.6vw;
}

.text-container-authors{
    font-size: 1vw !important;
}

.no-type{
    list-style-type: none;
}

.text-container::-webkit-scrollbar-thumb{
    background-color: #275DAD;
    border-radius: 0.5vw;
}

li{
    margin-top: 1vw;
    color: #275DAD;
    margin-left: 1.5vw;
}

li h3{
    font-size: 1.8vw !important;
}

li p {
    font-size: 1.5vw;
    color: #5B616A;
}

.row-label {
    color: #275DAD;
}