.units{
    align-self: center;
    height: 100%;
    margin-bottom: 5vw;
  }
  
  .units-handler
  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vh;
  }

  .unit-in-handler-buttons{
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
  }
  
  .unit-in-handler{
    color: #275DAD;
    font-size: 2vw;
    border-radius: 1vw;
    padding: 2vw 1.5vw 0vw 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 11vw;
    background-color: #FCF7F8 ;
  }
  
  .button {
    align-self: flex-end;
    margin-top: 1vw;
    padding: 0.4vw 0.5vw;
    border-radius: 0.5vw;
    transition: .5s;
    color: #275DAD !important;
  }
  
  .button:hover{
    background-color: #CED3DC ;
    color: #022a66;
    border-radius: 2vw;
  }