  .unit-task-unactive{
    display: none;
  }
  .unit-buttons{
    position: relative;
    display:flex;
    z-index: 9999;
    top:-2.1vw;
    width: 80vw;
    overflow-x: overlay;
    left: 10vw;
    justify-content: space-around;
    gap: 0;
    background: #FCF7F8;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    transform: rotateX(180deg);
    padding: 1vw 0;
  }

  .unit-buttons::-webkit-scrollbar{
    height: 0.5vw;
  }


.unit-buttons::-webkit-scrollbar-thumb{
    background-color: #CED3DC;
    border-radius: 0.5vw;
    width: 1vw;
}

  .unit-button{
    text-align: center;
    transform: rotateX(180deg);
    background-color: transparent;
    border: 0;
    min-width: 5vw;
    font-size: 2vw;
    font-weight: 400;
    color: #0033ab;
    transition: .3s;
    cursor: pointer;
  }
  
  .unit-button:hover{
    color: #de3b21;
  }

  .unit-button-active{
    color: #de3b21;
  }
  
  .unit-tasks{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50vw;
    left: 23vw;
    position: relative;
    padding: 2vw;
  }

  .unit{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    padding-bottom: 50px;
  }
  
.unit-title-in{
  margin-left: 10vw;
}

  .unit-task-changer{
    display: flex;
    align-self: center;
    align-items: center;
    color: #275DAD;
    width:80vw;
    padding:0 2vw;
    justify-content: space-between;
  }

  .task-change-button{
    border: 0;
    border-radius: 2vw;
    border-color: transparent;
    background-color: #FCF7F8;
    font-size: 1.5vw;
    color: #275DAD;
    padding: 1vw 1vw;
    cursor: pointer;
    transition: 0.3s;
  }

  .task-change-button:hover{
    background-color: #d3d1d2;
  }

  .task-change-next{
    padding: 0 1.7vw;
  }