*{
  padding: 0;
  margin: 0;
  font-family: 'SPro' !important;
  font-weight: 500;
}

a {
  text-decoration: none !important;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ABA9C3;
  min-height: 100vh;
}

@font-face {
  font-family: 'SPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}

body{
  
}

p{
  white-space: pre-wrap !important;
  font-size: 1vw;
  line-height: 2vw;
}


h1{
  font-size: 2vw;
}

h3{
  white-space: pre-wrap !important;
  font-weight: 800;
}

.select option p{
  font-size: 1.1vw !important;
  width: auto !important;
}

option{
  font-size: 1.1vw;
  padding: 1vw;
}

.video-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

.video-selector-button{
  margin: 0 1vw;
  width: 2vw;
  height: 2vw;
  font-size: 1.5vw;
  border-color: transparent;
  border-radius: 1vw;
}

.video-selector-button:hover{
  background-color:rgb(119, 144, 167);;
  transition: .5s;
}

.video-selector-button-active{
  background-color: rgb(153, 195, 238);
}

.video-unactive{
  display:none;
}

.videos-answers{
  display: flex;
  font-size: 2vw;
  gap:2vw;
}

.videos-selector-answers
{
  text-align: center;
}

.form-control{
  background-color: #FCF7F8;
  padding: 0.2vw;
  border-radius: 1vw;
  border-color: transparent;
  transition: .3s;
  color:#363a3f;
  font-weight: 600;
  min-width: 5vw;
}

.select-option-hide
{
  display: none;
}

.videos-text{
  height: 200px;
  width: 800px;
  overflow: auto;
}

video {
  width: 40vw;
  height: 20vw;
}

.check-button{
  background-color: #FCF7F8;
  border-width: 0;
  width: 10vw;
  font-size: 2vw;
  align-self: center;
  border-radius: 1vw;
  color: #275DAD ;
  transition: .3s;
  cursor: pointer;
  position: relative;
  bottom: -75px;
}

.check-button:hover{
  background-color: #CED3DC;
}

.input-task{
  display: flex;
  flex-direction: column;
}

.input-task .text-container p{
  font-size: 1.5vw;
}

.input-task .text-container{
  font-size: 1.5vw;
}

.input-words{
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  background-color: #fff;
  padding: 1vw;
  border-radius: 1vw;
  max-width: 80vw;
  border: 0.1vw solid #275DAD ;
}

.input-words p {
  font-size: 1.5vw !important;
  color: #363a3f;
  text-align: center;
  font-weight: 800;
  flex: 1 1 20%;
}

.unactive{
  display: none;
}

.no-style{
  list-style-type: none;
}

.input-box-with-word{
  display: flex;
  flex-direction: column;
  gap:1vw;
}

.input-task-inputs{
  gap: 1vw;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.input-line-type{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 1vw;
  border-radius: 1vw;
  border: 0.1vw solid #275DAD ;
}

.input-line-type>*{
  font-size: 1.25vw;
}

.bold{
  font-weight: 800;
}

.text-show{
  line-height: 2vw !important;
}

.image{
  justify-content: center;
  display: flex;
}

iframe{
  margin-left: 5vw;
  align-self: center;
}

.select{
  width: auto;
  flex-grow: 1;
  margin-left: 1vw;
}

p .page-title {
  font-size: 1.5vw !important;
}

.link{
  color: #275DAD !important;
}
/*
#5B616A текст
#CED3DC светловатый
#ABA9C3 темный
#275DAD синька
#FCF7F8 белый
*/

.MuiSelect-button {
  white-space: normal !important;
}