*{
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: 'SPro' !important;
  font-weight: 500;
}

.App{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #ABA9C3;
}

@font-face {
  font-family: 'SPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
}

p{
  white-space: pre-wrap !important;
  font-size: 1vw;
  line-height: 2vw;
}

h1{
  font-size: 2vw;
}

option{
  font-size: 1.5vw;
  padding: 1vw;
}

.video-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

.video-selector-button{
  margin: 0 1vw;
  width: 2vw;
  height: 2vw;
  font-size: 1.5vw;
  border-color: transparent;
  border-radius: 1vw;
}

.video-selector-button:hover{
  background-color:rgb(119, 144, 167);;
  transition: .5s;
}

.video-selector-button-active{
  background-color: rgb(153, 195, 238);
}

.video-unactive{
  display:none;
}

.videos-answers{
  display: flex;
  font-size: 2vw;
  gap:2vw;
}

.videos-selector-answers
{
  text-align: center;
}

.form-control{
  background-color: #FCF7F8;
  padding: 0.2vw;
  border-radius: 1vw;
  border-color: transparent;
  transition: .3s;
  color:#363a3f;
  font-weight: 600;
}

.videos-text{
  height: 200px;
  width: 800px;
  overflow: auto;
}

video {
  width: 40vw;
  height: 20vw;
}

.check-button{
  background-color: #FCF7F8;
  border-width: 0;
  width: 10vw;
  font-size: 2vw;
  align-self: center;
  margin-top: 2vw;
  border-radius: 1vw;
  color: #275DAD ;
  transition: .3s;
}

.check-button:hover{
  background-color: #CED3DC;
}

.input-task{
  display: flex;
  flex-direction: column;
}

.input-task .text-container p{
  font-size: 1.5vw;
}

.input-task .text-container{
  font-size: 1.5vw;
}

.input-words{
  display: flex;
  font-size: 1.5vw;
  flex-wrap: wrap;
  align-self: center;
  background-color: #CED3DC;
  padding: 1vw 0 1vw 2.4vw;
  border: 0.1vw solid #275DAD ;
}

.input-words>* {
  flex: 1 1 20%;
}

/*
#5B616A текст
#CED3DC светловатый
#ABA9C3 темный
#275DAD синька
#FCF7F8 белый
*/